body {
    background-color: black;
}
.bg-black {
    background-color: black;
}

.rotate90deg {
    transform: rotate(180deg);
}

.height-for-card-carousel {
    height: 300px;
}

.underline-on-hover:hover {
    text-decoration: underline;
}